@page
@using Uzduotis01;
@model CarRental_FrontEnd.RentsModel
@{
    DateTime? dateTo;
    DateTime dateToNotNull;
    int vehicleIDcs;
    int clientIDcs;
}

<div align="center">
    <h2>All Rents</h2>

    <h4><button onclick="toggleFormDisplay('form0')">Rent a new Vehicle</button></h4>

    <div id="form0" style="display:none">
        <form id="registerForm0">
            <label for="VehicleID">Vehicle ID</label>
            <input type="number" id="VehicleID" name="VehicleID" />
            <br />
            <label for="ClientID">Client ID</label>
            <input type="number" id="ClientID" name="ClientID" />
            <br />
            <label for="DateFrom">Date From</label>
            <input type="date" id="DateFrom" name="DateFrom" />
            <br />
            <label for="DateTo">Date To</label>
            <input type="date" id="DateTo" name="DateTo" />
            <br />
            <br />
            <button type="submit">Register</button>
        </form>
    </div>

    @if (Model.Rents != null)
    {
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Vehicle ID</th>
                    <th>Client ID</th>
                    <th>Date Frome</th>
                    <th>Date To</th>
                </tr>
            </thead>
            @foreach (Rent rent in Model.Rents)
            {
                <tr>
                    <td>@rent.GetID()</td>
                    <td>@rent.GetVehicleID()</td>
                    <td>@rent.GetClientID()</td>
                    <td>@rent.GetDateFrom().ToString("yyyy-MM-dd")</td>
                    <td>
                        @{ dateTo = rent.GetDateTo(); }
                        
                        @if (dateTo == null)
                        {
                            <p>Open-Ended Agreement</p>
                        }
                        else
                        {
                            dateToNotNull = (DateTime)dateTo;
                            <p>@dateToNotNull.ToString("yyyy-MM-dd")</p>
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Business is a bit quiet :(</p>
    }
</div>

<script type="text/javascript">
    validateForm('registerForm0');
    validateForm('registerForm1');

    function validateForm(id) {
        document.getElementById(id).addEventListener('submit', async function (event) {
            event.preventDefault(); // Prevent default form submission

            const vehicleID = document.getElementById('VehicleID').value;
            const clientID = document.getElementById('ClientID').value;
            const dateFrom = document.getElementById('DateFrom').value;
            const dateTo = document.getElementById('DateTo').value;


            // TO DO
            //
            // if (Model.VehiclesIDExists(vehicleID))
            // // Basic form validation
            // if (fullName.trim() === '' || (personalID.trim() !== '0' && personalID.length !== 11)) {
            //     alert('Please enter a valid full name and 11-digit Personal ID (You can enter "0" to generate a random ID).');
            //     return false;
            // }

            // Create the request payload
            const formData = new FormData();
            formData.append('FullName', fullName);
            formData.append('PersonalID', personalID);

            try {
                const response = await fetch('https://localhost:7243/api/RentService/RegisterClient', {
                    method: 'POST',
                    mode: 'no-cors',
                    headers: { 'Content-Type': 'application/json' },
                    body: formData
                });

                // Handle successful response
                alert('Registration successful!');
                window.location.reload('https://localhost:7196/Clients');
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            }
        });
    }
</script>